body {
	background: #c3e9fe;
	margin: 0;
	padding: 0;
	overflow: hidden;
	height: 100vh;
	width: 100vw
}
a {
	text-decoration: none;
	color: black;
}
.backgrounds {
	z-index: 1;
}
@keyframes bac {
	from {
		transform: translateX(-90vw);
	}
	to {
		transform: translateX(100vw);
	}
}
.content {
	z-index: 2;
}
.sun {
	background: #f3e17e;
	height: 7vw;
	width: 7vw;
	border-radius: 50%;
	position: absolute;
	top: 2vw;
	right: 4vw;
}
.cloud_1 {
	display: block;
	position: absolute;
	top: 5vw;
	left: 10vw;
	height: 6vw;
	width: 20vw;
	padding: 0;
	overflow: hidden;
	z-index: 2;
	animation: bac 45s linear infinite;
}
.cloud_2 {
	display: block;
	position: absolute;
	top: 20vw;
	right: 10vw;
	height: 6vw;
	width: 20vw;
	padding: 0;
	overflow: hidden;
	z-index: 2;
	animation: bac 50s linear infinite;
}
.cloud_3 {
	display: block;
	position: absolute;
	top: 3vw;
	right: 25vw;
	z-index: 2;
	overflow: hidden;
	height: 6.5vw;
	width: 20vw;
	animation: bac 40s linear infinite;
}
.cloud_4 {
	display: block;
	position: absolute;
	top: 27vw;
	left: 25vw;
	z-index: 2;
	overflow: hidden;
	height: 6.5vw;
	width: 20vw;
	animation: bac 45s linear infinite;
}
.cloud_1 span,
.cloud_2 span,
.cloud_3 span,
.cloud_4 span {
	border-radius: 50%;
	position: absolute;
	display: block;
	background: white;
}
.clo_1,
.clo_shadow_1 {
	height: 3vw;
	width: 3vw;
	top: 4vw;
}
.clo_2,
.clo_shadow_2 {
	height: 5vw;
	width: 5vw;
	left: 1.5vw;
	top: 3vw;
}
.clo_3,
.clo_shadow_3 {
	height: 10vw;
	width: 10vw;
	left: 4vw;
}
.clo_4,
.clo_shadow_4 {
	height: 6vw;
	width: 6vw;
	top: 3vw;
	left: 12vw;
}
.clo_2_1,
.clo_shadow_2_1 {
	height: 3vw;
	width: 3vw;
	top: 4vw;
	right: 1vw;
}
.clo_2_2,
.clo_shadow_2_2 {
	height: 7vw;
	width: 7vw;
	top: 2vw;
	right: 3vw;
}
.clo_2_3,
.clo_shadow_2_3 {
	height: 10vw;
	width: 10vw;
	top: 0vw;
	right: 7vw;
}
.clo_2_4,
.clo_shadow_2_4 {
	height: 5vw;
	width: 7vw;
	top: 3vw;
	right: 13vw;
}
.cloud_shadow_1 {
	display: block;
	position: absolute;
	top: 6vw;
	left: 8vw;
	height: 6vw;
	width: 20vw;
	padding: 0;
	overflow: hidden;
	z-index: 1;
	animation: bac 45s linear infinite;
}
.cloud_shadow_2 {
	display: block;
	position: absolute;
	top: 21vw;
	right: 12vw;
	height: 6vw;
	width: 20vw;
	padding: 0;
	overflow: hidden;
	z-index: 1;
	animation: bac 50s linear infinite;
}
.cloud_shadow_3 {
	display: block;
	position: absolute;
	top: 4vw;
	right: 27vw;
	overflow: hidden;
	height: 6.5vw;
	width: 20vw;
	z-index: 1;
	animation: bac 40s linear infinite;
}
.cloud_shadow_4 {
	display: block;
	position: absolute;
	top: 28vw;
	left: 23vw;
	z-index: 1;
	overflow: hidden;
	height: 6.5vw;
	width: 20vw;
	animation: bac 45s linear infinite;
}

.cloud_shadow_1 span,
.cloud_shadow_2 span,
.cloud_shadow_3 span,
.cloud_shadow_4 span {
	border-radius: 50%;
	position: absolute;
	display: block;
	background: #a2c2d3;
}

.water {
	position: fixed;
	background: #89aba2;
	top: 70%;
	height: 30%;
	width: 100%;
	margin-left: 0;
	z-index: 3;
	overflow: hidden;
	height: 38%;
	width: 100%;
}

.stone_1,
.stone_2_1 {
	height: 125%;
	width: 15%;
	top: 23%;
	right: -7%;
}

.stone_2,
.stone_2_2 {
	height: 90%;
	width: 20%;
	top: 40%;
	right: 1%;
}

.stone_3,
.stone_2_3 {
	height: 160%;
	width: 40%;
	top: 12%;
	right: 10%;
}

.stone_4,
.stone_2_4 {
	height: 100%;
	width: 22%;
	top: 45%;
	right: 47%;
}

.stone_5,
.stone_2_5 {
	height: 100%;
	width: 30%;
	top: 42%;
	right: 68%;
}

.stone_6,
.stone_2_6 {
	height: 120%;
	width: 22%;
	top: 20%;
	right: 85%;
}

.green {
	display: block;
	position: absolute;
	z-index: 4;
	overflow: hidden;
	height: 100%;
	width: 100%;
}

.deep_green {
	display: block;
	position: absolute;
	top: 10%;
	z-index: 4;
	overflow: hidden;
	height: 100%;
	width: 105%;
}

.green span {
	border-radius: 50%;
	position: inherit;
	display: block;
	background: #2b4e50;
}

.deep_green span {
	border-radius: 50%;
	position: inherit;
	display: block;
	background: #1e3839;
}

.main_menu {
	position: absolute;
	left: 10vw;
	top: 5vw;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	z-index: 5;
	width: 8vw;
	animation: verticalstagger 5s infinite alternate linear;
}

.button {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	height: 5.9vw;
	border: 0.4vw solid;
	width: 6vw;
	height: 6vw;
	border-radius: 50%;
	z-index: 5;
	transition: transform 1s;
}

.stripes {
	width: 4.2vw;
	height: 0.4vw;
	background: black;
	border-radius: 20px;
	transition: transform 1s;
}

.button:hover {
	transform: rotate(90deg);
}

.button:hover .stripes1 {
	transform: rotate(45deg);
}

.button:hover .stripes2 {
	transform: translate(-0.4vw, 0.02vw);
}

.button:hover .stripes3 {
	transform: rotate(-45deg);
}

.buttomActiveSt1 {
	transform: rotate(-45deg) translate(-1.1vw, 1.1vw);
}

.buttomActiveSt2 {
	visibility: hidden;
}

.buttomActiveSt3 {
	transform: rotate(45deg) translate(-1.1vw, -1.1vw);
}

@keyframes menu {
	0% {
		width: 0.1vw;
		height: 0vh;
	}
	50% {
		width: 0.3vw;
		height: 26vw;
	}
	100% {
		width: 23vw;
		height: 34vw;
	}
}

@keyframes menubac {
	0% {
		width: 20vw;
		height: 34.5vw;
	}
	50% {
		width: 1vw;
		height: 34.5vw;
	}
	100% {
		width: 1vw;
		height: 0vw;
	}
}

.menu {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 1px;
	height: 1px;
	overflow: hidden;
	max-width: 22vw;
}

.menuAnim {
	animation: menu 3s forwards linear;
	animation-timing-function: linear;
}

.menubacAnim {
	animation: menubac forwards 3s;
}

.line {
	background: black;
	width: 0.3vw;
}

.line1 {
	height: 4vw;
}

.line2 {
	height: 2vw;
	transform: rotate(-2deg) translateX(-0.2vw);
}

.line3 {
	height: 2vw;
}

.point {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 2vw;
}

.point2 {
	transform: rotate(2deg);
}

.text {
	padding: 1vw 3vw;
	border: solid 0.3vw;
	animation: stagger 5s infinite alternate linear;
}

.text:hover {
	background-color: rgba(255, 0, 0, 0.5);
}

.text1 {
	animation-delay: 0.1s;
}

.text2 {
	animation-delay: 0.3s;
	transform: rotate(10deg);
}

.text3 {
	animation-delay: 0.5s;
}

.text4 {
	animation-delay: 0.7s;
}

.text h3 {
	margin: 0.3vw
}

@keyframes stagger {
	0% {
		transform: rotate(2deg);
	}
	100% {
		transform: rotate(-2deg);
	}
}

@keyframes verticalstagger {
	0% {
		transform-origin: center top;
		transform: rotate(-1deg);
	}
	100% {
		transform: rotate(1deg);
	}
}

.weather {
	position: absolute;
	right: 3vw;
	top: 30vh;
	z-index: 10;
}

@media screen and (max-width:768px) {
	.cloud_1 {
		display: block;
		position: absolute;
		top: 5vw;
		left: 50vw;
		height: 6vw;
		width: 20vw;
		padding: 0;
		overflow: hidden;
		z-index: 2;
	}
	.cloud_2,
	.cloud_3 {
		display: none;
	}
	.cloud_shadow_2,
	.cloud_shadow_3 {
		display: none;
	}
	.cloud_shadow_1 {
		display: block;
		position: absolute;
		top: 6vw;
		left: 47vw;
		height: 6vw;
		width: 20vw;
		padding: 0;
		overflow: hidden;
		z-index: 1;
	}
	.content {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.main_menu {
		position: static;
		margin-top: 10vw;
		margin-bottom: 10vw;
	}
	.weather {
		position: static;
	}
}
